<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsões</title>
    <link rel="stylesheet" href="./style.css" />

</head>
<body>
    <div class="forecast_wrapper">
        <h2>Veja as previsões que desejar!</h2>
        <a href="./users.html"><p>Controlar usuário</p></a>
        <a href="./my_account.html"><p>Minha contato</p></a>
        <a href="./index.html"><p>Sair</p></a>
        

        <div class="filter_group">
            <label for="datetime">Filtrar:</label>
            <input type="datetime-local" id="datetime" name="datetime">
        </div>
        <div>
            <a href="./post_forecast.html"><p>Adicionar previsões</p></a>
        </div>

        <div class="weather_info">
         
            <div>
              <label>Data e Hora:</label>
              <span>2024-02-01 12:00</span>
            </div>
            <div>
              <label>Temperatura:</label>
              <span>25°C</span>
            </div>
            <div>
              <label>Pressão Atmosférica:</label>
              <span>1012 hPa</span>
            </div>
            <div>
              <label>Umidade:</label>
              <span>60%</span>
            </div>
            <div>
              <label>Precipitação:</label>
              <span>20%</span>
            </div>
            <div>
              <label>Condição do Tempo:</label>
              <span>Ensolarado</span>
            </div>
            <div>
                <button>Deletar</button>
                <button>Editar</button>
            </div>
          </div>
        </div>

        

    </div>
    
</body>
</html>