body,
.login_body {
  font-family: Arial, sans-serif;
  background-color: #50c6ed;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-size: 1rem;
}
a {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
  color: #77a8f1;
}
a:hover {
  color: #0056b3; /* Cor do texto ao passar o mouse sobre o link */
}

.login_body {
  background-image: url(./images/login_background.jpg);
  background-size: cover;
}
.login_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #d3d2d2;
  width: 100%;
}
.title_welcome {
  color: white;
  font-weight: 200;
  font-size: x-large;
  opacity: 0.9;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
  width: 100%;
}
.input_wrapper input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  background-color: #efececef;
}
.weather_info label,
.input_wrapper label {
  color: #e7e7e7;
  font-weight: 300;
}
.input_wrapper button {
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  background-color: #3474ecef;

  color: #ececec;
  font-weight: 200;

  transition: color 0.3s ease;
}
.input_wrapper button:hover {
  cursor: pointer;
  background-color: #1e5bcdef;
}
form,
.weather_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 25%;

  padding: 30px;
  border-radius: 5px;
  background-color: rgba(151, 156, 209, 0.349);
}
.login_option {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.weather_info {
  align-items: start;
}

/* Estilos para telas grandes (desktop, tablet) */
@media (min-width: 768px) {
}

/* Estilos para telas pequenas (dispositivos móveis) */
@media (max-width: 767px) {
  .title_welcome {
    width: 80%;
    text-align: center;
  }
  form {
    width: 70%;
  }
}
